<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>STKitDemo-InHouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>STKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F61DD34A186ED713008D0268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6442FDD1871387D0062D524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6471E751851CD7C00574E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6471E961851CD7C00574E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
